* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles*/
body {
    background-image: linear-gradient(111.4deg,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "DynaPuff", "Montserrat", "Roboto";
    background-image: linear-gradient(111.4deg,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
    background-repeat: no-repeat;
    background-attachment: fixed;
    gap: 2em;
    margin: 0 3em;
}

.timer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    font-family: "DynaPuff", "Montserrat", "Roboto";
    margin-top: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: rgba(238,113,113,1);
}

.clock-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: center;
}

.adjust-btn {
    border: none;
}

.adjust-btn:hover {
    cursor: pointer;
}

/* container for buttons */
.timer-btns {
    display: flex;
    flex-direction: row;
    padding-top: 0.5em;
}

/* buttons in container */
.timer-btn {
    font-family: "DynaPuff", "Montserrat", "Roboto";
    font-size: 0.85em;
    background-color: #fff;
    border: 1px solid rgba(238,113,113,1);
    border-radius: 1px;
    color: rgba(238,113,113,1);
    padding: 0.25em;
    margin: 1em;
}

.timer-btn:hover {
    cursor: pointer;
    background-color: rgba(238,113,113,1);
    color: #fff;
}

.clockstyle {
    font-size: 2em;
}

.logo {
    color: #fff;
    width: 100%;
    height: auto;
}

nav {
    display: none;
}

/* Main Styles */
main {
    display: flex;
    flex-direction: column;
    max-width: 90%;
    margin: 0 auto 5em;
    height: auto;
}

/* Week Container */
.week-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.day {
    width: 1.75em; 
    height: 1.75em; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    border: 1px solid rgba(238,113,113,1); 
    border-radius: 5px; 
    font-size: 18px; 
    font-weight: bold; 
}

.today {
    border: 2px solid rgba(238,113,113,1); 
    border-radius: 50%; 
    background-color: #fff;
}

/* timer button Styles */
.adjust-btn {
    background-color: #fff;
}

/* Heading Styles */
h3 {
    color: rgba(238,113,113,1);
    padding: 0.75em;
}

/* Priority Box Main Container*/
.priority {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    font-family: "DynaPuff", "Montserrat", "Roboto";
    margin-top: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align:center;
    height: 10em;
}

/* to do list column*/
.column {
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
    font-family: "DynaPuff", "Montserrat", "Roboto";
    margin-top: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: rgba(238,113,113,1);
}

.search-container {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    margin: 0 0 1em 0;
}

.search-container input {
    padding: 1em;
    color: rgba(238,113,113,1);
    border: 2px solid ;
    border-radius: 10px;
    font-family: "DynaPuff", "Montserrat", "Roboto";
    font-size: 0.75em;
}

.search-container input::placeholder {
    color: rgba(238,113,113,1);
}

.search-container input:focus {
    outline: none;
    border: 2px solid rgba(238,113,113,1);
}

/* to do list input main container */
.form {
    display: flex;
    flex-direction: column;
    gap: 1em; 
    justify-content: center;
}

.textbox::placeholder {
    color: rgba(238,113,113,1);
    opacity: 1; 
}

/* input text box  */
.textbox, .datebox {
    padding: 1em;
    color: rgba(238,113,113,1);
    opacity: 1; /* Ensures full color visibility in some browsers */
    border: 2px solid rgba(238,113,113,1);
    border-radius: 10px;
    font-family: "DynaPuff", "Montserrat", "Roboto";
    font-size: 0.75em;
}

.textbox:focus {
    outline: none;
    border: 2px solid rgba(238,113,113,1);
}

.btn {
    font-family: "DynaPuff", "Montserrat", "Roboto";
    font-size: 0.75em;
    background-color: #fff;
    border: 2px solid rgba(238,113,113,1);
    border-radius: 10px;
    color: rgba(238,113,113,1);
    padding: 1em;
}

.btn:hover {
    cursor: pointer;
}

/* To Do List Container */
.todolist {
    display: grid;
    grid-column: span 4;
}

/* class added dynamically through javascript -- this is for the tasks */
.task-item {
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border: 1px solid rgba(238,113,113,1);
    border-radius: 5px;
    padding: 1em;
    margin: 0.5em auto;
    color: rgba(238,113,113,1);
    word-wrap: break-word;
    width: 100%;
}

.task-item p:first-child {
    width: 100px;
    text-align: left;
}

/* Edit Input for tasks */
.task-edit-input {
    align-items: center;
    border: 1px solid rgba(238,113,113,1);
    border-radius: 5px;
    padding: 1em;
    color: rgba(238,113,113,1);
    font-family: "DynaPuff", "Montserrat", "Roboto";
}

.task-edit-input:focus {
    outline: none;
    border: 1px solid rgba(238,113,113,1);
}

/* button container class created in javascript -- holds edit, trash and all buttons */
.button-container {
    display: flex;
    align-items: center;
    gap: 0.25em;
}

.button-container button {
    padding: 0px;
    height: auto;
  }

/* class added dynamically through javascript -- trash button */
.delete-btn {
    border: none;
    background-color: #fff;
    color: rgba(238,113,113,1);
    font-size: 17px;
}

.delete-btn:hover {
    background-color: #fff;
    color: #f6d794;
    cursor: pointer;
}

/* class added dynamically through javascript -- edit button */
.edit-btn {
    background-color: #fff;
    border: none;
    font-size: 17px;
    color: #ee7171;
}

.edit-btn:hover {
    background-color: #fff;
    color: #f6d794;
    cursor: pointer;
}

/* class added dynamically through javascript -- full gem button */
.gem-btn {
    background-color: #fff;
    border: none;
    font-size: 17px;
    color: #ee7171;
}

.gem-btn:hover {
    background-color: #fff;
    color: #f6d794;
    cursor: pointer;
}

/* class added dynamically through javascript -- empty gem button */
.empty-gem-button {
    background-color: #fff;
    border: none;
    font-size: 17px;
    color: #ee7171;  
}

.empty-gem-button:hover {
    background-color: #fff;
    color: #f6d794;
    cursor: pointer;
}

/* class added dynamically through javascript -- check mark button */
.chk-button {
    background-color: #fff;
    border: none;
    font-size: 17px;
    color: #ee7171;  
}

.chk-button:hover {
    background-color: #fff;
    color: #f6d794;
    cursor: pointer;
}

.footer-content {
    display: flex;
    flex-direction: row;
    color: #ee7171;
    font-family: "DynaPuff", "Montserrat", "Roboto";
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
}

/* Media Query for tablet and up to minimize content stretching */
@media screen and (min-width: 600px) {
    .logo {
        width: 20%;
    }

    nav {
        display: inline-flex;
        font-family: "DynaPuff", "Montserrat", "Roboto";
        color: #fff;
        margin: 2.5em;
        height: auto;
    }
    
    nav a {
        text-decoration: none;
        color: rgba(238,113,113,1);
        font-size: 1em;
        border: solid thin;
        padding: 1em;
        margin: 1em;
    }
}

/* Media Query for small laptop and up to minimize content stretching */
@media screen and (min-width: 800px) {
    .grid-one {
        display: grid;
        grid-template-columns: auto;
    }

    .grid-two {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }

    .search-container {
        margin-top: 1em;
        margin-bottom: 0;
        margin-left: 1em;
        margin-right: 1em;
    }

    .search-container input {
        padding: 1em;
    }

/* to do list input main container */
    .form {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 1em;
        gap: 1em; 
        justify-content: start;
    }

}